# Workflow internals
.workflow/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/

# Docusaurus
website/build/
website/.docusaurus/
website/.cache-loader/

# IDE project files
*.iml
